footer{
 bottom: 0;
 position: absolute;
 width: 100%;
}
footer .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 5px;
    background: #078930;
    width: 100%;
    color: white;
}

.sociales{
width: 100%;
text-align: center;
font-size: 28px;

}

.sociales a{
    color: white;
    text-decoration: none;
}

.copy{
    font-size: 20px;
}

@media (min-width:800px) {

    .inf-claro {
        width: 40%;
    }
}