.login{
    margin-top: 10px;
    margin: auto;
    width: 50%;
    max-width: 500px;
    padding: 20px;
    background-color: #eee;
    border: 1px solid #078930;
}
.login h2{
    text-align: center;
    margin-bottom: 20px;
    color: #078930;
}
.login input{
    display: block;
    padding: 10px;
    width: 100%;
    margin: 10px 0;
    font-size: 20px;
}

.login input[type="submit"]{
    background: linear-gradient(#ffda63, #078930);
    border: 0;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 0;
    
}
.selec{
    display: flex;
    padding: 10px;
    width: 100%;
    margin: 10px 0;
    font-size: 20px;
}

@media (max-width:480px){
    .login{
        width: 98%;
    }
}