* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 0;
}

:root {
  --color-header: #078930;
}
th{
  text-transform: uppercase;
}

.header {
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: var(--color-header);
  z-index: 10;
}
.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.img-logo {
  width: 95px;
  height: 95px;
  margin: 3px;
  margin-bottom: 2px;
  margin-left: 10px;

  border-radius: 50%;
}
.icon-menu {
  font-size: 40px;
  background: #078930;
  color: white;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 50px;
  margin-left: 2px;
  cursor: pointer;
  margin: 15px;
  border-radius: 8px;
}
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav {
  position: absolute;
  top: 100px;
  left: -100%;
  width: 100%;
  transition: all 0.4s;
  height: 100vh;
}

.menu-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu-link {
  display: block;
  padding: 15px;
  color: #078930;
  background-color: white;
  text-decoration: none;
  border-radius: 200px, 100px, 100px, 100px;
}
.mostrar {
  left: 0;
}

.menu-ul :hover {
  color: white;
  background-color: #078930;
}
.msg {
  font-size: 14px;
  background-color: #6fbb5e;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  display: inline;
  background-color: #edc03f;
}

.register {
  width: 80%;
  max-width: 900px;
  height: auto;
  margin: auto auto 100px;
  text-align: left;
  box-shadow: 5px;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #078930;
  -webkit-box-shadow: 2px 4px 11px 0px rgba(0, 0, 0, 0.88);
  box-shadow: 2px 4px 11px 0px rgba(0, 0, 0, 0.88);
}

.form_registro {
  display: block;
  width: 80%;
  margin: auto;
}
.form_productos {
  display: flex;
  width: 100%;
  margin: auto;
}
.information_user,
.security_user {
  width: 50%;
}
.icon-input {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
  font-size: 20px;
}
.icon-input .icon {
  margin: 0;
  padding: 0;
}
.icon-input .input {
  padding: 0;
  width: 100%;
}
form {
  display: block;
  padding: 40px;
}
form i.material-icons {
  background: #6fbb5e;
  color: #fff;
  font-size: 30px;
}
form label {
  margin-top: 10px;
}
form h1 {
  text-align: center;
  margin-bottom: 35px;
}
form input,
select {
  width: 70%;
  height: 30px;
  border-radius: 0px;
  padding: 10px;
  border: 1px solid #6fbb5e;
}
form input:focus,
select:focus {
  border-radius: 0px !important;
  outline: none;
}
/* .register form select {
  padding: 0;
} */
select {
  padding: 0;
}
form input[type="button"] {
  margin-top: 20px;
  background: linear-gradient(#ffda63, #078930);
  border: 0;
  font-weight: bold;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  border-radius: 20px;
  padding: 5px;
}
.button_register {
  margin: 0 auto;
  text-align: center;
}

.cuerpo {
  top: 101px;
  position: relative;
}
.head {
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: white;
  

}
.contenedorbarra1{
  margin-left: 10px;
    margin-top: 30px;
    width: 40%;
}
@media (min-width: 1024px) {

  .head .nav{
    margin-left: 30%;
    
    width: 70%;
  }


  .head .register {

    display: block;
    width: 100%;
  }
  .information_user,
  .security_user {
    width: 100%;
  }

  .form_registro {
    display: flex;
  }
  .img-logo {
    margin-left: 80px;
  }

  .nav {
    position: fixed;
    float: right;
    display: flex;
    right: 15px;
    top: 25px;
    left: auto;
    width: auto;
    height: auto;
    margin-right: 80px;
  }

  .menu-ul {
    float: right;
    display: flex;
    flex-wrap: wrap;
    margin-right: 1px;
  }
  .menu-link {
    display: flex;
    position: static;
    float: right;
    width: auto;
    height: auto;
    margin: 2px;
    font-weight: bold;
    background: var(--color-header);
    color: white;
  }
  .menu-link:hover {
    color: black;
    font-size: 19px;
  }

  .icon-menu {
    display: none;
  }
}
